Listen {{http_port }}
<VirtualHost *:{{ http_port }}>
ServerAdmin root@{{ ansible_facts['fqdn'] }}
ServerName {{ ansible_facts['fqdn'] }}:{{ http_port }}
DocumentRoot {{ http_dir }}

<Directory {{ http_dir }}>
Options Indexes FollowSymLinks
AllowOverride None
</Directory>
</VirtualHost>
