System Memory: {{ ansible_memtotal_mb }}
Processor Count: {{ ansible_processor_count }}
Primary Disk: {{ ansible_facts['devices']['xvda']['size'] }}
{% if  ansible_facts['devices']['xvdd']['size'] is defined %}
Secondary Disk: {{ ansible_facts['devices']['xvdb']['size'] }}
{% else %}
Secondary Disk: NOT AVAILABLE
{% endif %}
