Listen {{ http_port }}
<VIrtualHost *:{{ http_port }}>
ServerAdmin root@{{ ansible_facts['fqdn'] }}
ServerName {{ ansible_facts['fqdn'] }}:{{ http_port }}
DocumentRoot /var/www/myvhost
<Directory /var/www/myvhost>
Options Indexes FollowSymLinks
AllowOverride None
</Directory>
</VirtualHost>
